<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
 <meta charset="UTF-8" />
 <title>Mentions légales</title>
 <link rel="stylesheet" href="../css/styleformulaire.css" />



</head>
<body>
 <h1> Mentions Légales </h1>
 <h3> Editeur </h3>
 <p> Barry Issagha</p>
 <p> Frémeaux Enzo </p>


 <h3>HEBERGEMENT</h3>
 <p>Université de lille</p>


 <h3>CONTENUE EDITORIAL</h3>
 <p>image de fond : http://www.fil.univ-lille1.fr/~bogaert/tw2/projet2018/sujet/images/euralille2.jpg </p>
 <p>logo de lille1 :http://www.univ-lille1.fr/Accueil/Communication/Charte-Graphique/</p>
 <p>Logo MEL : http://www.melmap.fr/home.html </p>


 <h3> Licences </h3>
 <p> licence ETALAB (MEL) </p>
 <p> Obligations de déclaration</p>
 <p>Traitements de données nominatives utilisés dans le site : Annuaire : traitement déclaré à la CNIL sous le n°488479 (Logo + fond d'écran)</p>


<footer>
    <a href="http://webtp.fil.univ-lille1.fr/~barry/projet/view/formulairerecherche.php">SITE</a>
</footer>
</body>

</html>
